<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask with MySQL - {{ title }} assignment</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" />
    <link rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
    crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h1>Welcome to the {{ title }} page</h1>
      </div>
      <div class="row friends-data">
      {% with messages = get_flashed_messages() %}
        {% if messages != 'Success' %} 
          <ul class="flashes red">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>  
        {% endif %}
      {% endwith %}

        <h2>Create user</h2>
        <form action="/create" method="POST">
          <label for="email">First name: </label> <input type="text" name="first_name" value="{{ one_friend['first_name'] }}" placeholder="{{ one_friend['last_name'] }} id="first_name" />
          <label for="email">Last name: </label> <input type="text" name="last_name" value="{{ one_friend['last_name'] }}" placeholder="{{ one_friend['first_name'] }} id="last_name" />
          <label for="email">Email: </label> <input type="text" name="email" value="{{ one_friend['email'] }}" placeholder="{{ one_friend['email'] }} id="email" />
          <button class="btn btn-primary" type="submit">Edit user</button>
        </form>
      </div>
    </div>
  </body>
</html>