<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask with MySQL - {{ title }} assignment</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" />
    <link rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
    crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h1>Welcome to the {{ title }} page</h1>
      </div>
      <div class="row nav">
        {% include 'nav.html' %}
      </div>
      <div class="row user-data">
        <div class="col id strong">ID</div>
        <div class="col strong">Name</div>
        <div class="col strong">Email</div>
        <div class="col strong">Created</div>
        <div class="col strong">Last Modified</div>
      </div>
      {% for user in users %}
      <div class="row user-data">
        <div class="col id">
          {% if session['user_id'] == user['id'] %}
          <a href="/{{ user['id'] }}/edit" title="User ID">{{ user['id'] }}</a>
          {% else %} 
          {{ user['id'] }} 
          {% endif %}</a></div>
        <div class="col">{{ user['first_name'] }} {{ user['last_name'] }}</div>
        <div class="col">{{ user['email'] }}</div>
        <div class="col">{{ user['created_at'] }}</div>
        <div class="col">{{ user['updated_at'] }}</div>
      </div>
      {% endfor %}
    </div>
  </body>
</html>