*{
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}
#container-fluid, #pokemon, .heading {
  display: flex;
}
#container-fluid {
  justify-content: center;
  flex-flow: row wrap;
  margin: 0 auto;
}
#container-fluid {
  justify-content: center;
  width: 80%;
}
img.title {
  height: 75px;
  width: 250px;
  margin: 0 auto;
}
.heading {
  justify-content: center;
  flex-flow: column wrap;
  width: 100%;
}
.heading h1 {
  text-align: center;
  width: auto;
}
.heading h1, .heading img {
  /* display: block; */
}
#pokemon {
  justify-content: flex-start;
  flex-flow: row wrap;
  max-width: 1024px;
}
#pokemon, #pokemon-display {
  vertical-align: top;
}
#pokemon-display {
  display: none;
  justify-content: flex-start;
  flex-flow: column wrap;
  border: 5px solid red;
  height: 250px;
  width: 250px;
  padding: 5px;
}
#pokemon-display ul li {
  list-style-type: none;
}
#pokemon img {
  display: inline-block;
  width: 100px;
  height: 100px;
}
#pokemon > img.title {
  height: 75px;
  width: 250px;
}
.strong {
  font-weight: bold;
}
.show {
  display: block;
}
.clear {
  display: block;
  width: 100%;
}