<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Survey Results</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" />
    <link rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
    crossorigin="anonymous" />
    {% load static %}
    <link rel="stylesheet" href="{% static '/users/css/styles.css' %}" />
  </head>
  <body>     
    <div class="container">
        {# include 'nav.html' #}
        <div class="row">
            <h1>Results page</h1>
        </div>
        <div class="row">
            <h3><span class="underline">Submitted Information</span></h3>
            <div class="col ">
                <h1>Welcome {{ name }}</h1>
                <p></p>
            </div>
        </div>
        {% for user in users %}
            <p class="strong">test loop for users</p>
        {% endfor %}
        <div class="row">
            <div class="col-3">Your Name:</div> <div class="col-9">{{ name }}</div>
        </div>
        <div class="row">
            <div class="col-3">Email:</div> <div class="col-9">{{ email }}</div>
        </div>
        <div class="row">
            <div class="col-3">Permission level:</div> <div class="col-9">{{ permission_level }}</div>
        </div>
        <div class="row">
            <p>Here is the user(s) information stored in sesssion: {{ request.session.users }} </p>
            <a class="btn btn-primary" href="/users/{{ user_id }}/edit" role="button">Edit User {{ user_id }}</a>
        </div>
        {% if request.session.logged_in == True %}
        <div class="row">
            <a class="btn btn-primary" href="/users/reset" role="button">Clear session</a>
        </div>
        {% endif %}
    </div>
</body>
</html>