.columns {
  margin-left: 0;
}
div.inline {
  margin: 0;
}
div.inline h1, div.inline h2, div.inline h3, div.inline h4, div.inline h5, div.inline p {
  display: inline-block;
  vertical-align: middle;
}
div.inline p {
  margin-top: 1.5em;
}
div.row {
  border-bottom: 1px solid lightgrey;
  margin-bottom: 1em;
  padding-bottom: 1em;
}
form.delete-users {
  margin-bottom: 0;
}
.remind-new button {
  display: block;
}