nav a {
  display: inline-block;
  width: 50px;
}
h1, h2, h3, h4, h5, p {
  display: block;
  width: 100%;
}
nav, form { 
  width: 100%;
}
label, input, select, textarea, select.form-control {
  width: 49%;
}
select.form-control{
  display: inline-block;
}
.col.red {
  color: red;
  font-weight: bold;
}