h1, h2, h3, h4, h4, p, form {
  display: block;
}

.header {
  width: 100%;
}

.header div.col {
  display: inline-block;
}

.header div.col.md-1 {
  width: 50%;
  padding-left: 0em;
}

.header div.col.md-2 {
  width: 44%;
}

.row.user-data {
  margin: 10px 0;
}

.row.user-data, hr, .user-data h1, .user-data h2 {
  width: 100%;
}

.user-data form.handle_user {
  width: 100%;
  text-align: left;
}

.user-data form.handle_user label, .user-data form.handle_user input {
  text-align: left;
  width: 40%;
  display: inline-block;
}

.user-data form {
  width: auto;
  text-align: right;
}

.user-data label, .user-data input {
  text-align: left;
  display: block;
}

.user-data textarea {
  width: 40em;
  height: auto
}

.user-data div.col.id {
  width: 5%;
}

.user-data .btn.btn-primary {
  display: block;
}

ul.post-content, ul.comment-content {
  width: 100%;
}

ul.post-content { 
  margin-left: -40px;
}

ul.comment-content { 
  margin-left: 0;
}

.post-content li, .comment-content li {
  display: block;
  list-style-type: none;
  margin: 5px 0 0 0;
}
.post-content .title, .comment-content .title {
  color: green;
  font-weight: bold;
}

.post-content .content, .comment-content .content {
  display: block;
  margin-left: 10px;
}

.post-content .delete {
  display: inline-block;
}

.flashes.red, .flashes.green {
  width: 100%;
}

.col.red, .col.green, .flashes.red, .flashes.green {
  font-weight: bold;
}

.col.red, .flashes.red {
  color: red;
}

.success {
  width: 100%;
}

.green, .flashes.green, .col.green, .success {
  color: green;
}

div.green {
  background-color: green;
  border: 1px solid black;
  padding: 10px 20px;
  text-align: center;
}

div.green p {
  color: white;
  margin: 0;
}

.results {
  margin: 20px 0px;
}

.underline {
  text-decoration: underline;
  width: 100%;
}

.row.results ul {
  list-style-type: none;
  width: 100%;
}

.row.results ul li {
  margin: 5px 0;
}

.row.results form {
  display: inline-block;
}

.block {
  display: block;
  width: 100%;
}

.hidden {
  display: none;
}

.strong {
  font-weight: bold;
}

.clear {
  clear: both;
}