<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <nav>
          <a href="/">Home</a>
          <a href="/other">Other</a>
        </nav>
        <h1>{{ title }}</h1>
      </div>
      <div class="row">
        <div class="col-sm">Name</div>
        <div class="col-sm">Favorite fruit</div>
        <div class="col-sm">Favorite instrument</div>
        <div class="col-sm">Favorite language</div>
      </div>
        {% if jinj_list %}
          {% for item in jinj_list %}
            <div class="row">
              <div class="col-sm">{{ item['first_name'] }}</div>
              <div class="col-sm">{{ item['favorite_fruit'] }}</div>
              <div class="col-sm">{{ item['favorite_instrument'] }}</div>
              <div class="col-sm">{{ item['favorite_language'] }}</div>
            </div>
          {% endfor %}
        {% endif %}

        {{ list_of_dicts }}
    </div>
  </body>
</html>