<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Flask Assignment #7 - {{ title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" />
    <link rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
    crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
  </head>
  <body>
    <div class="container">
      <div class="row">
        {% include 'nav.html' %}
      </div>
      <div class="row">
        <h1>Welcome to the {{ title }} page</h1>
      </div>
      {% with messages = get_flashed_messages() %}
        {% if messages %} 
        <div class="row">
          <ul class="flashes red">
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        </div>  
        {% endif %}
      {% endwith %}
      <div class="row">
        <form action="/process" method="post">
          <div class="form-group">
            <label for="name">Your name: </label>
            <input type="text" name="name" placeholder="John Doe">
          </div>
          <div class="form-group">
            <label for="location">Dojo Location: </label>
            <select name="location" class="form-control">
              <option value="" default>Choose location</option>
              <option value="Seattle">Seattle</option>
              <option value="Burbank">Burbank</option>
              <option value="San Jose">San Jose</option>
              <option value="Chicago">Chicago</option>
              <option value="Dallas">Dallas</option>
            </select>
          </div>
          <div class="form-group">
            <label for="language">Favorite language: </label>
            <select name="language" class="form-control">
              <option value="" default>Choose language</option>
              <option value="Python">Python</option>
              <option value="JavaScript">JavaScript</option>
              <option value="Angular">Angular</option>
              <option value="React">React</option>
            </select>
          </div>
          <div class="form-group">
            <label for="comments">Comment (optional): </label>
            <textarea name="comments" class="form-control" rows="5" cols="5"></textarea>
            <button type="submit" class="btn btn-primary">Submit Survey</button>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>