<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask with MySQL - {{ title }} assignment</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" />
    <link rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
    crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h1>Welcome to the {{ title }} page</h1>
      </div>
      {% for user in users %}
      <div class="row user-data">
        {% if 'user_id' in session %}
          {% if session['user_id'] == user['id'] %}
          <div class="col">
            Coding Dojo Wall
          </div>
          <div class="col">
            Welcome {{ user['first_name'] }}
          </div>
          <div class="col">
            <a href="/logout" title="Log off">Log off</a>
          </div>
          {% else %} 
            <a href="/login" title="Login">Log in</a>
          </div>
          {% endif %}
        {% endif %}
      </div>
      {% endfor %}
      </div>
      <div class="row user-data">
        <h2>Comments</h2>
        {% with messages = get_flashed_messages() %}
          {% if messages != 'Success' %} 
            <ul class="flashes red">
              {% for message in messages %}
                <li>{{ message }}</li>
              {% endfor %}
            </ul>  
          {% endif %}
        {% endwith %}

        <form action="/post_message" method="POST">
          <input class="hidden" type="hidden" name="action" value="register">
          <label for="message">Post a message: </label> <textarea rows="3" cols="60" name="message" placeholder="Post a message:" id="message"></textarea>
          <button class="btn btn-primary right" type="submit">Post a message</button>
        </form>
      </div>
    </div>
  </body>
</html>