<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flask with MySQL - First Assignment</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" />
    <link rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
    crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h1>Welcome to the {{ title }} page</h1>
      </div>

      <!-- Here is the MySQL data returned: {{ one_friend }} -->

      <div class="row friends-data">
        <h2>Information about friend: {{ one_friend['id'] }}</h2>
        {% if one_friend %}
          <p class="id">{{ one_friend['id'] }}</p>
          <p>{{ one_friend['first_name'] }}</p>
          <p>{{ one_friend['last_name'] }}</p>
          <p>{{ one_friend['occupation'] }}</p>
          <hr>
          <span class="block"><a href="/friends/{{ one_friend['id'] }}/edit" title="{{ title }}">Edit friend # {{ one_friend['id'] }}</a></span>
        {% endif %}
      </div>

    </div>
  </body>
</html>