<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask with MySQL - {{ title }} Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" />
    <link rel="stylesheet" 
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
    crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h1>Welcome to the {{ title }} page</h1>
      </div>
      <div class="row friends-data">
        <h2>{{ title }} Friend</h2>
        <form action='/users/{{ u_id }}/edit' method='POST'>
          <label for="name">Name: </label> <input type="text" name="name" value="{{ one_user['name'] }}" id="name" />
          <label for="email">Email: </label> <input type="text" name="email" value="{{ one_user['email'] }}" id="email" />
          <input type="submit" value="Update">
        </form>
      </div>
      <div class="row">
        <a href="/users/{{ u_id }}/delete" title="Delete friend">Delete</a>
      </div>
      </div>

    </div>
  </body>
</html>