nav a {
  display: inline-block;
  width: 50px;
}
h1, h2, h3, h4, h5, p {
  width: 100%;
  margin: 0;
  padding: 0;
}
nav, form { 
  width: 100%;
}
label, input, select, textarea, select.form-control {
  width: 49%;
}
select.form-control{
  display: inline-block;
}
.btn.btn-primary {
  display: block;
  text-align: right;
  margin: 10px 88%;
}
.col.red, .col.green, .flashes.red, .flashes.green {
  font-weight: bold;
}
.col.red, .flashes.red {
  color: red;
}
.green, .flashes.green, .col.green {
  color: green;
}